<div class = 'container'>
    
    <h1 class = 'text-center'>New</h1>
    
    <%= form_for "/contacts" do |f| %>
    
        <%=f.label :name%>
        <%= f.text_field :name%>
        
        <%=f.label :email%>
        <%= f.text_field :email%>
        
        <%=f.label :thoughts%>
        <%= f.text_area :thoughts%>
        
        <%= f.submit "SUBMIT"%>
    
    <% end %>
    
</div>